:root {
  --primary  : #000000;
  --secondary: orange;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--primary);
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.board {
  background-color: var(--primary);
  width           : 60vw;
  height          : 80vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  border-radius   : 10px;
  border          : 1px solid var(--secondary);

}

.status-bar {
  background-color: var(--primary);
  margin-top      : 10px;
  width           : 70%;
  height          : 15%;
}

.questions-list {
  background   : var(--primary);
  margin-top   : 10px;
  border-radius: 10px;
  border       : 1px solid var(--secondary);
  font-size    : 16px;
}

.menu-lateral {
  background-color: var(--secondary);
  margin-right    : 10px;
  width           : 25vw;
}

.board-container {
  display         : flex;
  flex-wrap       : wrap;
  background-color: var(--primary);
}

.question-content {
  background-color: var(--primary);
  margin-top      : 10px;
  width           : 90%;
  max-height      : 100%;
  overflow        : auto;
}